<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>健康股运动邀请函</title>
    <link rel="stylesheet" href="__PUBLIC__/h5/common.css">
</head>
<body>
    <div class="download-warp">
    	<div class="success-warp">
    		<img src="__PUBLIC__/h5/image/chenggong-2x.png" alt="">
    		<p class="friend">邀请更多好友一起运动赚钱</p>
    		<p class="friend-text">(邀请好友越多你的奖励就越多呦)</p>
    	</div>
    	<div class="download-ios"><img src="__PUBLIC__/h5/image/pingguo-2x.png" alt="">下载iOS版健康股APP</div>
    	<div class="download-android"><img src="__PUBLIC__/h5/image/anzhuo-2x.png" alt="">安卓版健康股即将上线</div>
    	<img src="__PUBLIC__/h5/image/erweima-2x.png" alt="" class="scan-img">
    	<p class="scan-text">扫码关注健康股，为运动附能</p>
		<div class="bottom-introduce">
			<div class="exercise-item introduce-item">
				<span class="green-line"></span>
				<span class="item-title">运动挖矿</span>
				<p>在安装完手机APP后开始运动挖矿，能获得持续的LIFE收益，LIFE能提现及购买健康股商城内相关产品</p>
			</div>
			<div class="system-item introduce-item">
				<span class="green-line"></span>
				<span class="item-title">健康股的生态系统</span>
				<p>基于医疗健康大数据重新连接医疗机构、健康保险、医生团体等健康相关产业。形成运动、健康、保障、医疗、康复正循环，打造普惠医疗健康金融生态系统</p>
			</div>
		</div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

</html>