#a span{
font-size:25px;
}
#a p{
margin-left:4px;color:#2DA9DF;font-size:16px;margin-top:6px; 
}
#a img{
float:right;margin-top:13px; width:50px; 
}
#b span{
font-size:25px;color:#68CF43;
}
#b p{
margin-left:4px;font-size:16px;color:#68CF43;margin-top:6px;  
}
#b img{
float:right;margin-top:12px; 
}
#c span{
font-size:25px;color:#D78084; 
}
#c p{
margin-left:4px;font-size:16px;color:#D78084;margin-top:6px; 
}
#c img{
float:right;margin-top:12px;width:30px;
}
#d span{
font-size:25px;
}
#d p{
margin-left:4px;color:#2DA9DF;font-size:16px;margin-top:6px; 
}
#d img{
float:right;margin-top:13px; width:50px; 
}
#e span{
font-size:25px;
}
#e p{
margin-left:4px;color:#2DA9DF;font-size:16px;margin-top:6px; 
}
#e img{
float:right;margin-top:13px; width:50px; 
}
#f span{
font-size:25px;
}
#f p{
margin-left:4px;color:#2DA9DF;font-size:16px;margin-top:6px; 
}
#f img{
float:right;margin-top:13px; width:50px; 
}
#g span{
font-size:25px;
}
#g p{
margin-left:4px;color:#2DA9DF;font-size:16px;margin-top:6px; 
}
#g img{
float:right;margin-top:13px; width:50px; 
}
body{
font-family:微软雅黑;"
}