<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>后台管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="Ruleor"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="__PUBLIC__/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="__PUBLIC__/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="__PUBLIC__/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
          type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="__PUBLIC__/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/global/plugins/bootstrap-summernote/summernote.css">
    <link id="style_color" href="__PUBLIC__/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet"
          type="text/css"/>
    <link href="__PUBLIC__/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
    <style>
        .note-editor.fullscreen {
            top: 45px;
        }

        .error {
            color: red;
        }

        input.error {
            border: 1px solid red;
        }
    </style>
</head>
<body class="page-header-fixed page-quick-sidebar-over-content ">
<!-- BEGIN HEADER -->
<include file="Public/head"/>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <include file="Public/common"/>
            </ul>
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <h3 style="margin-top: -10px;">图片管理</h3>
            <div class="page-bar" style="margin-bottom:10px;">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="__MODULE__/Picture/index">图片管理</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <small style="color:#888888">图片修改</small>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box blue-madison">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-globe"></i>图片修改
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="reload">
                                </a>
                                <a href="javascript:;" class="remove">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <form role="form" id="commentForm" class="form-horizontal" action="__CONTROLLER__/editAction" method="post"
                                  enctype="multipart/form-data">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">图片</label>
                                        <div class="col-md-4">
                                            <input type="file" class="form-control" name="picname" value="">
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-top:10px;">
                                        <div class="col-md-4 col-md-offset-3">
                                            <img src="__PUBLIC__/file/<{$res.picname}>"
                                                 class="img-responsive thumbnail">
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-top:10px;">
                                        <div class="col-md-3 col-md-offset-1"></div>
                                        <div class="col-md-4">
                                            <input type="hidden" name="id" value="<{$res.id}>"/>
                                            <input type="submit" value="修改" class="btn btn-success"
                                                   style='width:100px;'/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<include file="Public/foot"/>

<script src="__PUBLIC__/assets/global/plugins/respond.min.js"></script>
<script src="__PUBLIC__/assets/global/plugins/excanvas.min.js"></script>

<script src="__PUBLIC__/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="__PUBLIC__/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!--<script src="__PUBLIC__/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>-->
<!--<script src="__PUBLIC__/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>-->
<!--<script src="__PUBLIC__/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>-->
<!--<script src="__PUBLIC__/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>-->
<!--<script src="__PUBLIC__/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>-->
<!--<script src="__PUBLIC__/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>-->

<!-- summernote editer -->
<script src="__PUBLIC__/assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/assets/global/plugins/bootstrap-summernote/lang/summernote-zh-CN.js"
        type="text/javascript"></script>

<script type="text/javascript" src="__PUBLIC__/assets/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<!--<script type="text/javascript" src="__PUBLIC__/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>-->
<!--<script type="text/javascript" src="__PUBLIC__/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>-->
<!--<script type="text/javascript" src="__PUBLIC__/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js"></script>-->
<!--<script type="text/javascript" src="__PUBLIC__/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>-->


<!--开始页面级别的脚本-->
<script src="__PUBLIC__/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="__PUBLIC__/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="__PUBLIC__/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="__PUBLIC__/assets/admin/pages/scripts/table-editable.js"></script>
<script src="__PUBLIC__/assets/admin/pages/scripts/components-editors.js"></script>

<script src="__PUBLIC__/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="__PUBLIC__/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="__PUBLIC__/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<script>
    jQuery(document).ready(function () {
        Layout.setSidebarMenuActiveLink('set', $('#page1'));
    });
    $().ready(function () {
        $("#commentForm").validate({
            rules: {
                picname: "required",
            },
            messages: {
                picname: "请上传图片",
            }
        });
    })
</script>
<input type='hidden' value='<{$errorid}>' id='errorid'/>
</body>
<!-- END BODY -->
</html>