<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>平台管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="__PUBLIC__/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="__PUBLIC__/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>

    <link rel="shortcut icon" href="favicon.ico"/>
    <script src="__PUBLIC__/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <style>
        body{
            font-family:'微软雅黑';
        }
    </style>
</head>

<body  class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white">
<!--<body class="page-header-fixed page-quick-sidebar-over-content ">-->
<!-- BEGIN HEADER -->

<!--引入View/Public/head.html-->
<!--头信息-->
<include file="Public/head"/>

<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

                <!--引入View/Public/common.html-->
                <!--菜单栏信息-->
                <include file="Public/common"/>

            </ul>
        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--<h3 style="margin-top: -10px;">首页</h3>-->
            <div class="page-bar" style="margin-bottom:20px;margin-top:-10px;">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="__MODULE__/Index/index">首页</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="portlet-body">
                        <div class="row">

                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-purple-soft">
                                                <span data-counter="counterup" data-value="{$usercontent}"></span>
                                            </h3>
                                            <small>会员总人数</small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                    <span style="width: {$rate_user}%;" class="progress-bar progress-bar-success purple-soft">
                                        <span class="sr-only">{$rate_user}% change</span>
                                    </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> change </div>
                                            <div class="status-number"> {$rate_user}% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-red-haze">
                                                <span data-counter="counterup" data-value="{$feedback}">0</span>
                                            </h3>
                                            <small>意见反馈总数</small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-like"></i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                    <span style="width: {$rate_feedback}%;" class="progress-bar progress-bar-success red-haze">
                                        <span class="sr-only">{$rate_feedback}% change</span>
                                    </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> change </div>
                                            <div class="status-number"> {$rate_feedback}% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-green-sharp">
                                                <span data-counter="counterup" data-value="{$pv}">0</span>
                                                <small class="font-green-sharp"></small>
                                            </h3>
                                            <small>当天访问量</small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-pie-chart"></i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                    <span style="width: {$rate_pv}%;" class="progress-bar progress-bar-success green-sharp">
                                        <span class="sr-only">{$rate_pv}% progress</span>
                                    </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> progress </div>
                                            <div class="status-number"> {$rate_pv}% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">
                                                <span data-counter="counterup" data-value="{$faq}"></span>
                                            </h3>
                                            <small>常见问题文章总数</small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-basket"></i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                    <span style="width: {$rate_faq}%;" class="progress-bar progress-bar-success blue-sharp">
                                        <span class="sr-only">{$rate_faq}% grow</span>
                                    </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> grow </div>
                                            <div class="status-number"> {$rate_faq}% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row" >
                            <div class="htmleaf-content">
                                <!--<div style="width:97%;margin:0 auto;">&lt;!&ndash;background-color: #Ffffff;&ndash;&gt;-->
                                    <!--<h4>会员人数增长报表<span></span></h4>-->
                                    <!--<div>-->
                                        <!--<canvas id="canvas" height="200" width="600"></canvas>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<include file="Public/foot"/>

<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="__PUBLIC__/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/assets/global/scripts/app.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/assets/global/scripts/Chart.js" type="text/javascript"></script>

<!--开始页面级别的脚本-->
<script src="__PUBLIC__/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="__PUBLIC__/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="__PUBLIC__/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function () {
        Metronic.init(); // init metronic核心组件
        Layout.init(); //初始化当前布局
        Demo.init(); // init演示功能
        Layout.setSidebarMenuActiveLink('set', $('#page0'));
    });
</script>

<script>
    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
    var lineChartData = {
        labels : ["2017/1","2017/2","2017/3","2017/4","2017/5","2017/6","2017/7","2017/8","2017/9","2017/10","2017/11","2017/12"],
        datasets : [
            {
                label: "My First dataset",
                //绿色
                fillColor : "rgba(28,188,155,0.2)",
                strokeColor : "rgba(28,188,155,1)",
                pointColor : "rgba(28,188,155,1)",
                pointStrokeColor : "#fff",  //点外圈颜色
                pointHighlightFill : "#fff",
                pointHighlightStroke : "rgba(28,188,155,1)",
                data : [50,70,40,60,30,60,80,100,120,130,140,160]
            }
        ]
    }

    window.onload = function(){
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx).Line(lineChartData, {
            responsive: true
        });
    }
</script>
</body>
</html>